  <div class="row">        <!-- first two days -->
    <div class="col-md-6"> <!-- left column -->
      <h3>Day 1 - May 29</h3>
      <table class="table table-striped">
        <tr>               <!-- row 2   -->
          <td>9:00am - 10:00am</td>        <!-- time    -->
          <td>Optional Python & OpenRefine Installation Support</td>        <!-- content -->
        </tr>
        <tr>               <!-- row 2   -->
          <td>10:00am - 10:30am</td>        <!-- time    -->
          <td>Workshop Introduction & Instructor Research Presentation</td>        <!-- content -->
        </tr>
        <tr>               <!-- row 3   -->
          <td>10:30am - 12:00pm</td>        <!-- time    -->
          <td><a href="https://datacarpentry.github.io/python-ecology-lesson/01-short-introduction-to-Python.html">Introduction to Python</a>, <a href="https://datacarpentry.github.io/python-ecology-lesson/02-starting-with-data.html">Starting with Data</a></td>        <!-- content -->
        </tr>
        <tr>               <!-- row 4   -->
          <td>12:00pm - 1:00pm</td>        <!-- time    -->
          <td>Lunch Break</td>        <!-- content -->
        </tr>
       <tr>               <!-- row 5   -->
          <td>1:00pm - 4:00pm</td>        <!-- time    -->
          <td><a href="https://datacarpentry.github.io/python-ecology-lesson/03-index-slice-subset.html">Indexing, Slicing and Subsetting DataFrames in Python</a>, <a href="https://datacarpentry.github.io/python-ecology-lesson/04-data-types-and-format.html">Data Types and Formats</a></td>        <!-- content -->
        </tr>
      </table>
    </div>
    <div class="col-md-6"> <!-- right column -->
      <h3>Day 2 - May 30</h3>
      <table class="table table-striped">
        <tr>               <!-- row 1   -->
          <td>10:00am - 10:30am</td>        <!-- time    -->
          <td>Instructor Research Presentation</td>        <!-- content -->
        </tr>
        <tr>               <!-- row 2   -->
          <td>10:30am - 12:00pm</td>        <!-- time    -->
          <td><a href="https://datacarpentry.github.io/python-ecology-lesson/04-data-types-and-format.html">Data Types and Formats</a>, <a href="https://datacarpentry.github.io/python-ecology-lesson/05-merging-data.html">Combining DataFrames with Pandas</a></td>        <!-- content -->
        </tr>
        <tr>               <!-- row 3   -->
          <td>12:00pm - 1:00pm</td>        <!-- time    -->
          <td>Lunch Break</td>        <!-- content -->
        </tr>
        <tr>               <!-- row 2   -->
          <td>1:00pm - 3:00pm</td>        <!-- time    -->
          <td><a href="https://datacarpentry.github.io/python-ecology-lesson/06-loops-and-functions.html">Data Workflows and Automation</a>, <a href="https://datacarpentry.github.io/python-ecology-lesson/07-visualization-ggplot-python.html">Making Plots With plotnine</a>, <a href="https://datacarpentry.github.io/python-ecology-lesson/08-putting-it-all-together.html">Data Ingest and Visualization</a></td>        <!-- content -->
        </tr>
        <tr>               <!-- row 2   -->
          <td>1:00pm - 4:00pm</td>        <!-- time    -->
          <td>OpenRefine</td>        <!-- content -->
        </tr>
      </table>
    </div>
  </div>
